<%
=begin%>
 <h1>Crypto App for Portfolio</h1>
<p>
海外の仮想通貨情報を日本語で閲覧できるサービスです。コメント・ブックマーク・いいね！機能を搭載しているため、ユーザー間の知見を共有できます。
</p>
<% @title_elements.zip(@img_elements) do |title, img| %>
<div class="card mb-3">
  <img src="<%= img.get_attribute(:src) %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= title.inner_text %></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<% end %> 
<%
=end%>