<% provide(:title, "ユーザー") %>
<div class="mb-3 w-75 mx-auto text-center">
  <h1>ユーザー</h1>
</div>
<%= render @users %>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>