@import "bootstrap-sprockets";
@import "bootstrap";

input {
  width: 100%;
  margin-bottom: 15px;
}

/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* card */
.row {
  margin-bottom: 20px;
}